@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: variables.$font-family-sans-serif;
  font-size: variables.$base-font-size;
  line-height: variables.$line-height;
  background-color: variables.$color-bg;
  color: variables.$color-text;
  scroll-behavior: smooth;
}

section,
footer {
  scroll-margin-top: 10vh;
}

@media (min-width: variables.$mqTablet) {
  body {
    font-size: 2rem;
  }

  section,
  footer {
    scroll-margin-top: 12vh;
  }
}

@media (min-width: variables.$mqDesktop) {
  section,
  footer {
    scroll-margin-top: 25vh;
  }
}