<!-- Sección 2: Qué hacer y ver -->
<section class="activities" id="activities">
  <div class="activities__header">
    <h2 class="activities__header-title">Qué ver y hacer</h2>
    <p class="activities__header-subtitle">
      Descubre los lugares más emblemáticos y experiencias únicas que ofrece la capital de Andorra.
    </p>
    <span class="activities__header-separator"></span>
  </div>

  <!-- Actividades -->
  <div class="activities__grid">
    <article class="activities__grid-item">
      <img src="../src/assets/images/casa-de-la-vall.jpg" alt="Casa de la Vall" class="activities__grid-item-image">
      <h3 class="activities__grid-item-title">Casa de la Vall</h3>
      <p class="activities__grid-item-text">
        Antigua sede del Parlamento de Andorra, símbolo de la historia y la tradición política del país.
      </p>
    </article>

    <article class="activities__grid-item">
      <img src="../src/assets/images/barri-antic.jpg" alt="Barri Antic" class="activities__grid-item-image">
      <h3 class="activities__grid-item-title">Barri Antic</h3>
      <p class="activities__grid-item-text">
        Un laberinto de calles empedradas con encanto, repleto de tiendas locales y rincones históricos.
      </p>
    </article>

    <article class="activities__grid-item">
      <img src="../src/assets/images/placa-del-poble.jpg" alt="Plaça del Poble" class="activities__grid-item-image">
      <h3 class="activities__grid-item-title">Plaça del Poble</h3>
      <p class="activities__grid-item-text">
        Un mirador sobre la ciudad, ideal para pasear, disfrutar del aire libre y admirar las montañas que
        rodean
        Andorra la Vella.
      </p>
    </article>

    <article class="activities__grid-item">
      <img src="../src/assets/images/avenida-meritxell.jpg" alt="Avinguda Meritxell"
        class="activities__grid-item-image">
      <h3 class="activities__grid-item-title">Avinguda Meritxell</h3>
      <p class="activities__grid-item-text">
        La arteria comercial más importante del país, con tiendas, restaurantes y ambiente durante todo el año.
      </p>
    </article>
  </div>
</section>