<!-- Sección 3: Galería -->
<section class="gallery" id="gallery">
  <div class="gallery__header">
    <h2 class="gallery__header-title">Galería</h2>
    <p class="gallery__header-subtitle">
      Descubre algunos de los rincones más emblemáticos y pintorescos de la capital andorrana.
    </p>
    <span class="gallery__header-separator"></span>
  </div>

  <!-- Galería -->
  <div class="gallery__grid">
    <figure class="gallery__grid-item">
      <img src="../src/assets/images/placa-del-poble.jpg" alt="Plaça del Poble" class="gallery__grid-item-image" />
      <figcaption class="gallery__grid-item-caption">Plaça del Poble</figcaption>
    </figure>

    <figure class="gallery__grid-item">
      <img src="../src/assets/images/pont-de-la-margineda.jpg" alt="Pont de la Margineda"
        class="gallery__grid-item-image" />
      <figcaption class="gallery__grid-item-caption">Pont de la Margineda</figcaption>
    </figure>

    <figure class="gallery__grid-item">
      <img src="../src/assets/images/centre-historic.jpg" alt="Centro histórico de Andorra la Vella"
        class="gallery__grid-item-image" />
      <figcaption class="gallery__grid-item-caption">Centro histórico</figcaption>
    </figure>

    <figure class="gallery__grid-item">
      <img src="../src/assets/images/esglesia-sant-esteve.jpg" alt="Església de Sant Esteve"
        class="gallery__grid-item-image" />
      <figcaption class="gallery__grid-item-caption">Església de Sant Esteve</figcaption>
    </figure>

    <figure class="gallery__grid-item">
      <img src="../src/assets/images/parc-central.jpg" alt="Parc Central" class="gallery__grid-item-image" />
      <figcaption class="gallery__grid-item-caption">Parc Central</figcaption>
    </figure>

    <figure class="gallery__grid-item">
      <img src="../src/assets/images/riu-gran-valira.jpg" alt="Riu Gran Valira" class="gallery__grid-item-image" />
      <figcaption class="gallery__grid-item-caption">Riu Gran Valira</figcaption>
    </figure>
  </div>
</section>