<header class="header">
  <input type="checkbox" id="menu-toggle" class="header__checkbox">

  <!-- Icono menú -->
  <label for="menu-toggle" class="header__menu-toggle">
    <i class="fa-solid fa-bars"></i>
  </label>

  <h1 class="header__title">Andorra la Vella</h1>

  <!-- Menú lateral -->
  <nav class="header__sidebar">
    <label for="menu-toggle" class="header__sidebar-close">
      <i class="fa-solid fa-xmark"></i>
    </label>

    <ul class="header__sidebar-list">
      <li class="header__sidebar-item"><a class="header__sidebar-link" href="#about">Sobre la ciudad</a></li>
      <li class="header__sidebar-item"><a class="header__sidebar-link" href="#activities">Qué ver y hacer</a></li>
      <li class="header__sidebar-item"><a class="header__sidebar-link" href="#gallery">Galería</a></li>
      <li class="header__sidebar-item"><a class="header__sidebar-link" href="#map">Mapa</a></li>
      <li class="header__sidebar-item"><a class="header__sidebar-link" href="#footer">Redes sociales</a></li>
    </ul>
  </nav>

  <!-- Overlay -->
  <label for="menu-toggle" class="header__overlay"></label>
</header>