<!-- Sección 4: Mapa -->
<section class="map" id="map">
  <div class="map__header">
    <h2 class="map__header-title">Mapa</h2>
    <p class="map__header-subtitle">Descubre los lugares más importantes de Andorra la Vella</p>
    <span class="map__header-separator"></span>
  </div>

  <!-- Mapa interactivo -->
  <div id="mapid" class="map__interactive"></div>

  <!-- Ubicaciones importantes -->
  <div class="map__locations">
    <h3 class="map__locations-title">Ubicaciones importantes</h3>
    <ul class="map__locations-list">
      <li>
        <a href="https://maps.app.goo.gl/6kb6Et67fjgtHB487" target="_blank">
          <span class="map__location-list-header">
            <i class="fa-solid fa-location-dot"></i>
            Casa de la Vall
          </span>
          <span class="map__location-list-description">Antiguo parlamento histórico de Andorra.</span>
        </a>
      </li>
      <li>
        <a href="https://maps.app.goo.gl/6uD9SzMPtYrCQjvE8" target="_blank">
          <span class="map__location-list-header">
            <i class="fa-solid fa-location-dot"></i>
            Iglesia de Sant Esteve
          </span>
          <span class="map__location-list-description">Iglesia románica ubicada en el centro
            histórico.</span>
        </a>
      </li>
      <li>
        <a href="https://maps.app.goo.gl/v16FEDdeoXAi8zgY9" target="_blank">
          <span class="map__location-list-header">
            <i class="fa-solid fa-location-dot"></i>
            Plaça del Poble
          </span>
          <span class="map__location-list-description">Plaza central donde se realizan eventos
            culturales.</span>
        </a>
      </li>
      <li>
        <a href="https://maps.app.goo.gl/181VECKxd244GaFDA" target="_blank">
          <span class="map__location-list-header">
            <i class="fa-solid fa-location-dot"></i>
            Pont de la Margineda
          </span>
          <span class="map__location-list-description">Puente medieval sobre el río Valira.</span>
        </a>
      </li>
      <li>
        <a href="https://maps.app.goo.gl/ame2jdJwZ2dPne566" target="_blank">
          <span class="map__location-list-header">
            <i class="fa-solid fa-location-dot"></i>
            Avenida Meritxell
          </span>
          <span class="map__location-list-description">Calle principal de tiendas y comercios en Andorra
            la
            Vella.</span>
        </a>
      </li>
    </ul>
  </div>
</section>